---
- name: Clone user dotfiles
  git: repo={{ dotfiles.url }} dest=/home/{{ user.name }}/{{ dotfiles.destination }} accept_hostkey=yes update=yes
  when: dotfiles is defined
  become: yes
  become_user: "{{ user.name }}"

- name: Install user dotfiles
  synchronize: src=/home/{{ user.name}}/{{ dotfiles.destination}}/ dest=/home/{{ user.name }}/ archive=yes rsync_opts=--exclude=.git,--exclude=_config.yml,--exclude=LICENSE,--exclude=README.md
  when: dotfiles is defined
  delegate_to: "{{ inventory_hostname }}"
  become: yes
  become_user: "{{ user.name }}"

- name: Download and install in bin the z.sh script
  get_url: url=https://raw.githubusercontent.com/rupa/z/master/z.sh dest=/home/{{ user.name }}/bin/z.sh mode=0755
  become: yes
  become_user: "{{ user.name }}"

- name: Clone plug for vim
  get_url: url={{ plug.url }} dest=/home/{{ user.name }}/{{ plug.destination }}
  when: plug is defined
  become: yes
  become_user: "{{ user.name }}"
  tags:
    - vim

- name: Install Vim plugins
  command: "vim +PlugInstall +qall"
  when: plug is defined
  become: yes
  become_user: "{{ user.name }}"
  tags:
    - vim

- name: create backup directory for vim
  file: path="/home/{{ user.name }}/.vim/backup" state=directory
  become: yes
  become_user: "{{ user.name }}"
  tags:
    - vim

- name: create swap directory for vim
  file: path="/home/{{ user.name }}/.vim/swap" state=directory
  become: yes
  become_user: "{{ user.name }}"
  tags:
    - vim
