# Sample minimal config file.  Copy this to ~/.offlineimaprc and edit to
# get started fast.

[general]
accounts = {{ mail_account.name}}
pythonfile = ~/bin/account_credentials.py 

[Account {{ mail_account.name }}]
localrepository = Local
remoterepository = Remote
autorefresh = 5
quick = 10
postsynchook = /usr/bin/notmuch new

[Repository Local]
type = Maildir
localfolders = ~/mail/

[Repository Remote]
type = IMAP
remotehost = {{ mail_account.imap_host }}
ssl = {{ mail_account.imap_ssl }}
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
remoteport = {{ mail_account.imap_port }}
auth_mechanisms = {{ mail_account.imap_auth }}

{% if mail_account.imap_auth == 'XOAUTH2' %}
oauth2_request_url = {{ imap_oauth2_request_url }}
oauth2_client_id = {{ imap_oauth2_client_id }}
oauth2_client_secret =  {{ imap_oauth2_client_secret }}
oauth2_refresh_token =  {{ imap_oauth2_refresh_token }}
{% else %}
remoteusereval = get_user("{{ mail_account.name }}")
remotepasseval = get_pass("{{ mail_account.name }}")
{% endif %}
